<%- include('../../inc/head.ejs') %>
<%- include('../../inc/header.ejs') %>
<section class="board-wrapper view-wrapper wrapper">
  <%- include('./inc-select.ejs') %> 
  <div class="tbl-wrap">
    <% if(boardType === 'default') { %>
      <%- include('../../board/view-default.ejs') %> 
    <% } else { %>
      <%- include('../../board/view-gallery.ejs') %> 
    <% } %>
  </div>
</section>
<%- include('../../inc/foot.ejs') %>

