<%- include('../../inc/head.ejs') %>
<%- include('../../inc/header.ejs') %>
<section class="order-wrapper form-wrapper wrapper">
  <h4 class="title bullet my-2">
    주문 상세
  </h4>
  <form action="/admin/order" method="post">
    <input type="hidden" name="id" value="1">
    <input type="hidden" name="_method" value="PUT">
    <table class="table border-bottom tbl-order">
      <tbody>
        <tr>
          <td class="title" style="width: 15%;">주문번호</td>
          <td class="content">20211029-123657</td>
        </tr>
        <tr>
          <td class="title">주문자</td>
          <td class="content">
            <a href="/admin/user/1">booldook / 임덕규 / 010-8332-8040</a>
          </td>
        </tr>
        <tr>
          <td class="title">주문상품</td>
          <td class="content">
            <table class="table table-sm text-center border-bottom tbl-prd">
              <thead>
                <tr>
                  <th>상품이미지</th>
                  <th>상품명</th>
                  <th>가격</th>
                  <th>개수</th>
                  <th>상태</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="td-icon">
                    <img src="/img/f1.jpg" alt="prd">
                  </td>
                  <td class="text-left">
                    <a href="/admin/prd/1?type=update">매우 맛있는 아이스크림</a>
                  </td>
                  <td class="text-right">2,500원</td>
                  <td class="text-right">2개</td>
                  <td>판매중</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td class="title">소비자가격</td>
          <td class="content">
            <input type="number" name="price-ori" class="form-control" placeholder="소비자가격">
          </td>
        </tr>
        <tr>
          <td class="title">판매가격</td>
          <td class="content">
            <input type="number" name="price-sale" class="form-control" placeholder="판매가격">
          </td>
        </tr>
        <tr>
          <td class="title">요약설명</td>
          <td>
            <textarea name="content" class="form-control" placeholder="내용을 입력하세요."
              style="min-height: 200px;"></textarea>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div id="editor" style="min-height: 200px;"></div>
          </td>
        </tr>
        <tr>
          <td>이미지 첨부</td>
          <td>
            <% for(let i=1; i<=10; i++) { %>
            <input type="file" name="img" class="form-control-file mb-2">
            <% } %>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-center my-4">
      <a href="/admin/prd" class="btn btn-primary">리스트</a>
      <button class="btn btn-success float-right mx-1">수정</button>
      <button type="reset" class="btn btn-danger float-right mx-1">다시작성</button>
    </div>
  </form>
</section>
<script src="/js/quill.min.js"></script>
<script src="/js/<%= currents[1] %>/<%= currents[1] %>.js"></script>
<%- include('../../inc/foot.ejs') %>
